@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 添加一些基础样式 */
.dark {
  background-color: rgb(17, 24, 39);
  color: white;
}

.dark * {
  border-color: rgb(55, 65, 81);
}

/* 确保页面占满整个视口高度 */
#root {
  height: 100vh;
} 